       h1{
            color: rgb(83, 20, 230) ;
            text-transform: capitalize;
            text-align: center;
            
        }
        .footer{
                color: rgb(244, 240, 240);
                text-align: center;
                padding: 120px 120px 30px 120px ;
                background-origin: padding-box;
                background-color: black;
        }
        
#start-footer{
    margin-top: 120px;
    background-color: #001931;
    height: 348px;
    width: 100%;
    position: absolute;
}
.first-footer{
    margin: auto;
    width: 1000px;
    margin-top: 120px;
}
.footer-icon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 10px;
}
.s-link p{
    color: #fafafa;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
}

.s-link .mm{
    background-color: #d6d9dc;
    gap: 10px;
}
.footer-end{
    text-align: center;
    color: #fafafa;
    font-size: 16px;
    line-height: 20px;
    
}
.img-div{
    display: flex;
    gap: 20px;
}