       h1{
            color: rgb(83, 20, 230) ;
            text-transform: capitalize;
            text-align: center;
            
        }
        .footer{
                color: rgb(244, 240, 240);
                text-align: center;
                padding: 120px 120px 30px 120px ;
                background-origin: padding-box;
                background-color: black;
        }