*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







  /* second head start or  background image section */

#second-header{
    background-image: url("../image/assets1/hero-bg.png");
    width: 100%;
    height: 568px;
    background-repeat: no-repeat;
    margin-top: 0;
    position: relative;
   
}
 .bg{
    position: absolute;
    margin: 100px 230px 180px;
    text-align: center;
    height: 380px;

}
.second-head .top{
    background-color: #FFFFFF;
    width: 229px;
    height: 36px;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16;
    font-weight: 500px;
    margin-bottom: 16px;
    color: #469165;
}
.second-head h2{
    font-size: 40px;
    font-weight: bold;
    font-size: 100px;
}
.second-head p{
    margin-top: 16px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    gap: 5px;
    cursor: pointer;
}


.second-head .top:hover{
    background-color: rgb(223, 143, 143);
    font-size: 18px;
    font-weight: 500px;
    color: #FFFFFF;
    transition:  background-color 1s ease;

}


.second-bottom{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
    position: relative;
    align-items: center;
    
}
.second-bottom .forth-bottom{
    padding: 10px 10px;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid rgb(239, 227, 227);
    display:flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

   /* second head bottom hover */

.second-bottom .third-bottom:hover{
    box-shadow: 3px -3px 3px , -3px 3px rgb(136, 132, 132);
    background-color: #047a35;
    color: #e8edea;
    transition:  background-color 1s ease;
    cursor: pointer;
}
.second-bottom .forth-bottom:hover{
    background-color: #047a35;
    color: #f8f8f8;
    box-shadow: 3px -3px 3px , -3px 3px rgb(136, 132, 132);
    transition:  background-color 1s ease;
}
.second-bottom .third-bottom{
    border: 2px solid white;
    color: #469165;
    border-radius: 20px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 5px;
    cursor: pointer;
}





        /* card section     */

#third{
    width: 100%;
    height: 448px;
}
.third-heading{
    text-align: center;
    align-items: center;
}
.third-head h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 35px;
}
.third-head p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
.card-section{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin: 44px;
}
.card{
    border-radius: 9px;
    box-shadow: 3px -3px 3px , -3px 3px rgb(136, 132, 132);
    height: 280px;
    width: 280px;
    cursor: pointer;
}
/* card hover */

.card:hover{
    background-color: rgb(175, 232, 211);
    font-size: 1.5em;
    border-radius:20px ;
    color: #01080e;
    box-shadow: 5px -5px 5px , -5px 5px rgb(136, 132, 132);
    transition:  background-color 1s ease;
    cursor: pointer;
}
.card img{
    background-color: #F95555;
    margin-top: 69px ;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 15px;
}
.card h5{
    font-size: 24px;
    font-weight: 600px;
    margin-top: 16px;
}
.card p{
    font-size: 16px;
    color: #627382;
    padding: 10px;
}



    /* CheckCircle  section */

.main-section{
    margin-top: 120px;
    display: flex;
    gap: 60px;
}

.main-section .main-photo{
    margin-left: 20px;
    height: 600px;
    width: 600px;
}

.main-text {
    text-align: left;
    height: 396px;
    width: 700px;
    margin: auto;
    align-items: center;
}

.main-head tt{
    font-size: 16px;
    font-weight: 500px;
    margin-bottom: 16px;

}


.main-head h5{
    font-size: 48px;
    font-weight: bold;
    width: 605px;
    height: 116px;
    margin-bottom: 16px;
}
.main-head .second-p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    height: 57px;
    width: 400px;
    margin-bottom: 40px;
}

.listing p{
    margin-bottom: 16px;
    align-items: center;
    display: flex;
    gap: 8px;
}




 /* end section work */
#end-main{
    width: 1360px;
    height: 384px;
    margin: auto;
    background-color: #d6d9dc;
    margin-top: 120px;
    display: flex;
}
.end-m{
    margin: auto;
}
.end-m .end-head{
    width: 1280px;
    height: 112px;
}
.end-head h3{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.end-head .end-text{
    margin-top: 16px;
    text-align: center;
    width: 500px;
    height: 48px;
    margin: auto;
}
.end-bottom{
    margin: 0 475px;
    position: absolute;
    padding: 10px;
}
.end-bottom .bt{
   background-color: #469165;
   padding: 20px;
   display: flex;
   margin: auto;
   color: #FFFFFF;
   font-size: 16px;
   font-weight: 600px;
   border-radius: 15px;
   border: none;
   cursor: pointer;
   gap: 10px;
}

/* bottom hover */

.end-bottom .bt:hover{
    background-color: #047a35;
    transition:  background-color 1s ease;
    font-size: 18px;
}
.end-bottom p{
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
}




/* #start-footer */

#start-footer{
    margin-top: 120px;
    background-color: #001931;
    height: 348px;
    width: 100%;
    position: absolute;
}
.first-footer{
    margin: auto;
    width: 1000px;
    margin-top: 120px;
}
.footer-icon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 10px;
}
.s-link p{
    color: #fafafa;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
}

.s-link .mm{
    background-color: #d6d9dc;
    gap: 10px;
}
.footer-end{
    text-align: center;
    color: #fafafa;
    font-size: 16px;
    line-height: 20px;
    
}
.img-div{
    display: flex;
    gap: 20px;
}